*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Navbar */
#nav{
    position: fixed;
    width: 100%;
    z-index: 25;
}

#navbar{
    display: flex;
    position:relative;
    width: 100%;
}

#navbar::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.48;
    z-index: -1;
}
#navbar #logo img{
    margin: 5px 10px;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
}

#list{
    display: flex;
    list-style: none;
    align-items: center;
}

.items a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Baloo Bhai ', cursive;
    padding: 5px 40px;
    margin: 5px;
    text-shadow: 1px 1px orange;
}

.items a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

/* Home-Page section */
#home-page{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 250px;
    position: relative;
    
}

#home-page::before{
    content: "";
    height: 380px; 
    width: 100%;
    position: absolute;
    background:url("meditterian.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    z-index: -2;
}

#home-page h1{
    color:whitesmoke;
    margin-bottom: 10px;
    margin-top: 90px;
    padding: 0 35px;
    font-size: 3.4rem;
    text-shadow: 2px 2px brown;
}

#home-page p{
    font-size: 17px;
    color: whitesmoke;
    font-family: 'Baloo Bhai ', cursive;
    text-shadow: 1px 1px black;
}

#home-page button{
    font-size: 20px;
    margin-top: 20px;
    background-color: brown;
    color: whitesmoke;
    border:2px solid white;
    border-radius: 10px;
    padding: 5px 25px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

#home-page button:hover{
    box-shadow: 0px 0px 5px 5px indianred;
    padding: 5px 27px;
}

/* services */
#services{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

#services h1{
    text-shadow: 2px 2px rgb(82, 163, 28);
}

#services .box img{
    height: 200px;
    margin: 25px;
    width: 300px;
    border:2px solid green;
    border-radius: 35px;
}

#services .box p{
    font-size: 17px;
    font-family: 'Bree Serif', serif;
}

#box-head{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Our Clients */
#clients-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
    position: relative;
}

#clients-section::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -2;
    opacity: 0.8;
}

#image{
    
    display: flex;
    flex-direction: row;
}

#clients-section h1{
    text-shadow: 2px 2px black;
    color: rgb(255, 255, 255);
    display: block;
}

/* form */
#contact{
    color: whitesmoke;
    position: relative;
    
}
#contact h1{
    text-shadow: 2px 2px purple;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url("background.png") no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    margin-bottom: 10px;
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
    text-transform: uppercase;
   font-size: 1rem;
   font-family: 'Bree Serif', serif;

}

.div{
height: 30px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.div button{
    width: 100px;
    color: snow;
    background-color: black;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}
/* utility classes */
.heading1{
    text-align: center;
    font-size: 2.8rem;
    font-family: 'Bree Serif', serif;
}

.btn{
    cursor: pointer;
    font-family: 'Bree Serif', serif;
}

.box{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 470px;
    border: 2px solid black;
    margin: 25px;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.heading2{
    font-family: 'Baloo Bhai ', cursive;
    font-size: 2.2rem;
    margin-top:14px;
    color:darkolivegreen;
}

#image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img{
    height: 200px;
    margin: 10px;
}


@media only screen and (max-width: 1550px){

    #box-head{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box{
        width: 400px;
        height: 535px;
    }
} 

@media only screen and (max-width: 1146px){

    .box{
        height: auto;
    }
}

@media only screen and (max-width: 1066px){
    #box .box img{
        height: 200px;
        width: 200px;
        margin: 10px;
    }
}

@media only screen and (max-width: 1090px){
    #box-head{
        flex-direction: column;
    }

    .box{
        width: 80%;
    }

    #image{
        flex-direction: column;
    }

    .images img{
        height: 200px;
    }
}

@media only screen and (max-width: 837px){ 
    #home-page h1{
        font-size: 3rem;
    }

    #home-page p{
        font-size: 14px;
    }
    
    .heading1{
        font-size: 2.5rem;
    }

    .heading2{
        font-size: 1.8rem;
    }
} 

@media only screen and (max-width: 689px){
    #home-page h1{
        font-size: 2.5rem;
    }

    #home-page p{
        font-size: 12px;
    }
    
    .heading1{
        font-size: 2rem;
    }

    .heading2{
        font-size: 1.3rem;
    }

    #home-page button{
        font-size: 15px;
    }
    #services .box p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 660px){
    .items a{
        padding: 5px 30px;
    }
}

@media only screen and (max-width: 580px){
    #home-page h1{
        padding: 0px 33px;
    }

    .items a{
        padding: 5px 20px;
    }
}

@media only screen and (max-width: 515px){
    .items a{
        padding: 5px 15px;
    }
}

@media only screen and (max-width: 480px){
    #navbar{
        flex-direction: column;
        align-items: center;
    }

    #home-page h1{
        margin-top: 164px;
    }

    #logo img{
        margin: 0;
    }

    #list{
        flex-direction: column;
    }

    #home-page{
        height: 382px;
    }

    #services {
        margin-top: 10px;
    }

    #contact-box form {
        width: 70%;
    }
}

@media only screen and (max-width: 410px){
    #services #box-head .box img{
        width: 200px;
    }
    .images img{
        height: 100px;
    }

    #contact-box form {
        width: 80%;
    }
}